
body {
   /* Paid, iStockPhoto.com order number 2062552735 */
   background-image: url("./../img/iStock-904753274.jpg");
   background-repeat: repeat;
}
#app {
   display: flex;
   flex-direction: column;
   height: 100%;
}
.container {
   background-color: white;   /* rgb(201, 71, 78); */
   border-left: 2px solid rgb(201, 71, 78);
   border-right: 2px solid rgb(201, 71, 78);
   margin-bottom: 0px;
   padding-bottom: 0px;
}

#header {
   background-color: rgb(201, 71, 78);
}
#header_image {
   width: 58px;
   height: 48px;   
}
#site_title {
   font-family:'Great Vibes', Helvetica, sans-serif;
   font-size: 24px;
   color: white;
   margin-left: 20px;
   position: relative;
   top: 6px;
   white-space: nowrap;
}
@media (max-width: 508px) {
   #site_title {
      font-family: Helvetica, sans-serif;
      font-size: 16px;
   }
}

footer {
   background-color:rgb(44, 16, 16);
   height: 65px;
   padding: 10px;
 }
footer p {
   color: rgb(207, 145, 148);
}
#copyright {
   font-size: 0.9rem;
}

#overview_image {
   width: 230px;
   height: auto; 
   margin-top: 80px;
   *border: 1px solid red;  
}
#greeting_image {
   width: 77px;
   height: 64px;
}

#overview_row {
   background-color: white;
}
@media (min-width: 768px) {
   #overview_row {
      padding-top: 10px;
      padding-bottom: 6px;
   }   
}

#cart_container {
   float: right;
   margin-left: 20px;
}
#shopping_cart {
   font-size: 1.6rem;
}

#choose_msg_col {
   color: white;
}
#choose_msg {
   background-color: rgb(201, 71, 78);
   width: 80%; 
   border-radius: 20% / 100% 100% 0 0;
}
.product_card {
   background-color: #F4F4F4;
   border: 3px solid rgb(201, 71, 78);
}
.product_card:hover {
   border: 2px solid rgb(250, 80, 88);
   -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.26);
   -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.26);
   box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.26);
}
.product_title {
   display: flex;
   justify-content: center;
}
.toggle_images_link {
   display: block;
   width: 130px;
   margin: auto;
}
.add_to_cart_btn {
   width: 100%;
   display: flex;
   justify-content: center;
   margin-top: -5px;
}
.theme_row {
   margin-top: -15px;
}
.quantity_row {
   margin-right: 0;
}
.product_qty {
   width: 90px;
   *min-width: 90px;
}
.item_image {
   display: inline-block;
   width: 39px;
   height: 32px;
}
.item_image:hover {
   width: 77px;
   height: 64px;
}
.item_image-md {
   display: block;
   width: 153px;
   height: 128px;
}

.item_desc, .item_option_select {
   display: inline-block;
   width: 180px;   
}
@media (min-width: 751px) and (max-width: 991px) {
   .item_option_select {
      width: 165px;
   }
}

.cart_image {
   display: inline-block;
   width: 77px;
   height: auto;   
}
.checkout_value {
   width: 80px;
}
.checkout_radios {
   margin-top: -4px;
   width: 180px;
}
.quanty_change_controls {
   border: 1px solid #CCC;
   width: 85px;
   padding: 2px;
}
#no_order_text {
   color: #dc3545;   /* danger */
}
.checkout_card {
   background-color: #F4F4F4;
}
#checkout_page label {
   margin-top: 5px;
}
#checkout_page .form-control {
   margin-top: -8px;
}
#checkout_page .form-control#address2 {
   margin-top: 3px;
}
.card_half_width {
   width: 80px;
}
#payment_card .card-subtitle.text-muted {
   /* Grrr! Bootstrap 4 uses `!important` on .text-muted, which is light gray. */
   color: red !important;
}
